@model IEnumerable<ExpressNews.Models.ViewModel.UserVM>


<div class="container">
    <form method="post" action="/RoleAssignment/AssignRole">
        @* <h5>User role:</h5>
        <div class="form-group" >
            <select class="form-control" id="roleName" name="roleName" style="width:40%">
                <option value="">--Select the user role--</option>
                <option value="Admin">Admin</option>
                <option value="Editor">Editor</option>
                <option value="Journalist">Journalist</option>
                <option value="Member">Member</option>
            </select>
        </div>
        <br /> *@
        <div class="container table-container">
            <h5>Employee List with Role</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @* <th scope="col"></th> *@
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @* <td><input type="checkbox" id="@item.Id" class="select-row"></td> *@
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                            <td>
                                <select class="form-control" id="roleName" name="roleName" style="width:40%">
                                    <option value="">--Select the user role--</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Journalist">Journalist</option>
                                    <option value="Member">Member</option>
                                </select>
                            </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-primary">Assign Role</button>
    </form>
</div>

<script>
    // Select/Deselect all checkboxes
    document.getElementById('selectAll').onclick = function () {
        var checkboxes = document.querySelectorAll('.select-row');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>