
@{
    ViewData["Title"] = "AboutUs";
}

<style>
    .red {
        color: red;
    }

    .blue {
        color: blue;
    }
</style>

<h3 class="fw-lighter">About Us</h3>


<div class="row">
   <hr /><h1 class="red fw-bolder text-center">EXPRESS NEWS</h1> <hr />
</div>

<div class="row">
    <br />
    <h4 class="text-center p-2 blue">EDITORIALS</h4><br />
    <p class="text-center fw-bold">Editor-in-Chief/Guarantor</p>
    <p class="text-center">Robert Rockemar</p>
     
    <div class="col text-end m-2">
        <p class=" fw-bold">Deputy Chief Editor</p>
        <p class=" ">Sajit Shehan P.</p>
        <br />
        <p class="fw-bold">Senior Editors</p>
        <p class="">Anju Kumari</p>
        <p class="fw-bold">Ombudsman</p>
        <p class="">Marcus Tjäder </p>

    </div>
    
    <div class="col text-start m-2">
        <p class=" fw-bold">Deputy Managing Editor</p>
        <p class=" ">Shradda Karambale</p>
        <br />
        <p class="fw-bold">Head of Print Production</p>
        <p class="">Novi Andayani</p>
        <p class="fw-bold">Editorial Advisory Board</p>
        <p class="">Mehreen S.</p>

    </div>

    <h5 class="text-center blue">Editorial Staff</h5>
    <p class="text-center">A. Muh. Ibnu Aqil, Aditya Hadi, Andre Arditya, Dwi Atmanta, Divya Karyza, Dio Suhenda, Elly Burhaini Faizal, <br />
        Ina Parlina, Kharishar Kahfi , Michael Hegarty, Mark Lempp, Novan Iman Santosa,
        <br />Nina A. Loasana, Nur Janti, Radhiyya Indra, Vincent Fabian Thomas, Yerica Lai
    </p><br /> 

    <h5 class="text-center blue">Technology Team</h5>
    <p class="text-center">
        A. Muh. Ibnu Aqil, Aditya Hadi, Andre Arditya, Dwi Atmanta, Divya Karyza, Dio Suhenda, Elly Burhaini Faizal, <br />
        Ina Parlina, Kharishar Kahfi , Michael Hegarty, Mark Lempp, Novan Iman Santosa,
        <br />Nina A. Loasana, Nur Janti, Radhiyya Indra, Vincent Fabian Thomas, Yerica Lai
    </p><br />

    <h4 class="text-center fw-bold red">Express News</h4>
    <p class="text-center">
        Skogsgatan 86, 587 23 Linköping, Sweden<br />
        Tel : 0754845638<br />
        Fax: +46-21-5000050, 50056971<br />
        Email: editorial@expressnew.com<br />
    </p>
</div>

