
@{
    ViewData["Title"] = "ContactUs";
}
<style>
    .red{
        
        color:red;
    }
    .blue{
        color:blue;
    }
   
</style>



<div class="pb-3">

    <h1>Contact Us</h1>
    <p> Have a question regarding Express News? Feel free to reach out to us!</p><br />
    <h2 class="red fw-bold">Express News</h2>
    <p class="blue">
        Skogsgatan 86, 587 23 Linköping, Sweden<br />
        Tel : 0754845638<br />
        Fax: +46-21-5000050, 50056971<br />
        Email: editorial@expressnew.com<br />
    </p>
</div>

<div>
    <h5 class="red">
        Have a story to submit? Share your insights with our readers
    </h5>
    <p>
        Read our guidelines
    </p>
</div>

<div>
    <h5 class="red">
        Sales and Marketing:
    </h5>
    <p>
        advertising@expressnews.com
    </p>
</div>

<div>
    <h5 class="red">
        Media Partnership:
    </h5>
    <p>
        mediapartnership@expressnews.com
    </p>
</div>
<div>
    <h5 class="red">
        Editorial and Press release:
    </h5>
    <p>
        editorial@expressnews.com
    </p>
</div>
<div>
    <h5 class="red">
        Opinion:
    </h5>
    <p>
        opinion@expressnews.com
    </p>
</div>
<div>
    <h5 class="red">
        Subscriptions (Print & Digital):
    </h5>
    <p>
        subscription@expressnews.com
    </p>
</div>