@model ExpressNews.Models.ViewModel.ArticleVM;
@using Microsoft.AspNetCore.Http
@inject Microsoft​.AspNetCore​.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var session = HttpContextAccessor.HttpContext.Session;
        
    @if (session.GetString("UserName") == null)
        await SignInManager.SignOutAsync();
        
}

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="bg-light">
    <!-- TradingView Widget BEGIN -->
    <div class="container-fluid tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500 Index"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100 Cash CFD"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR to USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "Bitcoin"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "Ethereum"
                }
              ],
              "showSymbolLogo": true,
              "isTransparent": false,
              "displayMode": "adaptive",
              "colorTheme": "light",
              "locale": "en"
            }
        </script>
        <style>
            /* Remove underline from <a> tag */
            a {
                text-decoration: none;
            }

            /* Add underline to <a> tag when hovering over <h1> */
            a:hover {
                text-decoration: underline;
                    text-decoration-color: black;
            }
        </style>
    </div>
    <!-- TradingView Widget END -->
    <div class="Container ">
        <div class="row">

        
            <div>
                <div class="round3 d-block d-sm-none mb-4 mt-2" id="ww_acd82c86cd82c" v='1.3' loc='id' a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":["wl2620"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'><a href="https://weatherwidget.org/" id="ww_acd82c86cd82c_u" target="_blank">Widget weather</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_acd82c86cd82c"></script>
            </div>



           @*  main page 9 column *@
            <div class="col-md-8">
                @Html.Partial("_BreakingNewsPartial", Model.ArticleList)

                @Html.Partial("_CommonLayout", Model.ArticleList)
                @* @Html.Partial("_FrontPageArticlePartial", Model.ArticleList) *@
            </div>

            @* side page 4 colum *@
            <div class="col-md-4 mb-2" >
                <div class="d-none d-sm-block mb-4">

                    <div id="ww_cdad7e9436424" v='1.3' loc='id' a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":["wl2620"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'><a href="https://weatherwidget.org/" id="ww_cdad7e9436424_u" target="_blank">Html weather widget</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_cdad7e9436424"></script>
                   
                    
                </div>

                <div class="text-center mb-3 round3" style="color:black; background-color:yellow">
                    <a class="h4 nav-link text-black fw-bolder" asp-area="" asp-controller="ElectricityPrice" asp-action="Index">Daily Electricity Price</a>  
                </div>
                

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        
                        <button class="h5 nav-link active text-black fw-bolder" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Latest News</button>
                        <button class="h5 nav-link text-black fw-bolder" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Editor's Choice</button>
                       
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> <vc:latest-article count="7"></vc:latest-article></div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> <vc:editors-choice count="7"></vc:editors-choice></div>
           
                </div>

                <br />

                <div class="row">
                    <div> 
                        <vc:most-popular-news count="7"></vc:most-popular-news>   
                    </div>
                </div> <br />

                <div class="row">
                    
                </div> <br />
              
            </div>
        </div>
    </div>
    

</body>