@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="bg-light">
    <!-- TradingView Widget BEGIN -->
    <div class="container-fluid tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500 Index"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100 Cash CFD"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR to USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "Bitcoin"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "Ethereum"
                }
              ],
              "showSymbolLogo": true,
              "isTransparent": false,
              "displayMode": "adaptive",
              "colorTheme": "light",
              "locale": "en"
            }
        </script>
        <style>
            /* Remove underline from <a> tag */
            a {
                text-decoration: none;
            }

            /* Add underline to <a> tag when hovering over <h1> */
            a:hover {
                text-decoration: underline;
                    text-decoration-color: black;
            }
        </style>
    </div>
    <!-- TradingView Widget END -->
    <div clalss="Container ">
        <div class=" row">
            <div class="col-md-9">
                <div class="w-100 p-3 border bg-white">
                    <a href="#">
                        <h1 id="#" style="color:black">
                            <strong style="color:red">JUST NOW: </strong>” Good message ” about the rate of inflation
                        </h1>
                    </a>
                </div><br /> 
                @{
                    await Html.RenderPartialAsync("_HomeArticlePartial");
                }
            </div>
            <div class="col-md-3">
                <div class="row">
                    @*  <div>
                    <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                    </div> *@

                    <div id="oanda_ecc">
                        <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                        <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                        <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                    </div>

                </div><br />
                <div class="row">
                    @*  <div>
                    <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                    </div> *@

                    <div id="oanda_ecc">
                        <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                        <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                        <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                    </div>

                </div><br />
                <div class="row">
                    @*  <div>
                    <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                    </div> *@

                    <div id="oanda_ecc">
                        <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                        <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                        <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                    </div>

                </div><br />
                <div class="row">
                    @*  <div>
                    <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                    </div> *@

                    <div id="oanda_ecc">
                        <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                        <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                        <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                    </div>

                </div>
            </div>
        </div>
    </div>

   
</body>
<button type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fa fa-arrow-up"></i>
</button>
<script>
    /Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>