
@{
    ViewData["Title"] = "Tip";
}

<div class="container">
    <div class="row">
    <div class="col-2">
    <h1 style="background-color:red;color:white">TIPS!</h1>

    </div>
    <div class="col-10">
      <h1>ExpressNews</h1>      
    </div>
    </div>

        <p class="hyperion-css-163bm3f" data-test-tag="lead-text">Do you know more? Do you have a news tip?</p>
        <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">Ring:<strong> 08-411&nbsp;11&nbsp;11</strong></p>
        <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">Send SMS:<strong> 71000</strong></p>
        <p>Email:<strong>tips@expreesnews.se</strong></p>
        <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">Big revelations often start with an informed tip.</p>
        <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">Do you have information about political irregularities, serious misconduct, abuse of power or corruption?</p>

        <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">Tell our investigative reporters.</p>
    <h4>What would you like to recommend?</h4>
    <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw"> ExpressNews always guarantees source protection. You can choose to be completely anonymous by not filling in your personal data. Note that then there is no possibility of compensation.</p>
    <form>
    <div class="row">
      <div class="col-4">
          
        <label for="abTipSummaryText">Subject(Required)</label>
        <input type="text" class="form-control" placeholder="Subject" name="sublect">
      </div>
      <div class="col-4">
                <label for="abTipSummaryText">Name</label>
        <input type="text" class="form-control" placeholder="Fill in your name" name="name">
      </div>
    </div>
        <div class="row">
            <div class="col-4">
                <label for="abTipSummaryText">Tips</label>
                <textarea class="form-control" rows="4" placeholder="Subject" name="sublect" ></textarea>
            </div>
            <div class="col-4">
                <div class="row">
                <label for="abTipSummaryText">Email </label>
                <input type="email" class="form-control" placeholder="Enter your email address" name="name">
                </div>
           
            <div class="row">
                <label for="abTipSummaryText">Telephone number</label>
                <input type="text" class="form-control" placeholder="Enter your phone number" name="name">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 m-4">
                <label class="fileLabel" for="abTipsAttachmentsFiles"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3732 1.8169C9.65646 1.62929 8.89427 1.84302 8.37957 2.37593L8.37048 2.38533L2.76049 7.99455C2.76048 7.99456 2.7605 7.99454 2.76049 7.99455C1.4132 9.34186 1.41318 11.5263 2.76049 12.8736C4.10779 14.2209 6.29221 14.2209 7.63952 12.8736C7.63953 12.8736 7.63952 12.8736 7.63952 12.8736L14.4696 6.04289C14.7625 5.74998 15.2374 5.74996 15.5303 6.04284C15.8232 6.33572 15.8232 6.8106 15.5304 7.1035L8.70023 13.9342C6.76713 15.8673 3.63293 15.8674 1.69983 13.9343C-0.233276 12.0012 -0.233276 8.86699 1.69983 6.93389L7.30544 1.32889C8.19669 0.409688 9.51408 0.04149 10.753 0.365786C11.9942 0.690665 12.9635 1.65997 13.2884 2.90116C13.6127 4.14008 13.2445 5.45744 12.3254 6.34869L6.71117 11.966C5.86768 12.7809 4.52664 12.7694 3.69718 11.9402C2.86772 11.111 2.85586 9.77003 3.67052 8.92629L3.67957 8.91691L9.28959 3.30518C9.58244 3.01224 10.0573 3.01216 10.3503 3.305C10.6432 3.59785 10.6433 4.07272 10.3504 4.36566L4.74594 9.97201C4.50336 10.2273 4.50816 10.6299 4.75767 10.8794C5.00718 11.1288 5.40979 11.1335 5.66501 10.8908L11.2782 5.27454C11.8111 4.75983 12.0249 3.99772 11.8373 3.28098C11.6497 2.56425 11.0899 2.00451 10.3732 1.8169Z" fill="#dd2a30"></path> </svg> ATTACH PHOTO / FILM <span id="abTipAttachmentsCount"></span> 

            </label>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
            <div class="col-6 m-4">

                <button type="submit" class="btn btn-success" >Send Tips</button>
            </div>

        </div>
  </form>
    <h4 class="hyperion-css-ng0dgn" data-test-tag="paragraph-header">About Tips!</h4>
    <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">At Expreesnews, we are constantly looking for new angles.</p>
    <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw"><p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">And as a reader, you are an important part of our news work. With our service Tell me! you can easily submit tips, pictures and videos. In our apps, we can also reach you with local push notifications and calls..</p>
    <p><strong>What happens to my tip?</strong></p>
    <p class="borderColor borderWidth margin padding mqDark hyperion-css-wlaotw">We read all the tips that are sent. If we judge your tip to be interesting, we will contact you via the contact channels you provided.</p>



</div>
<div>

</div>


