
@{
    ViewData["Title"] = "SubmitSuccess";
}
<style>
    .successMessage
    {
        font-size:40px;
        font-weight:bold;
        color:green;
        text-align:center;

    }
</style>

@if (ViewBag.SuccessMessage != null)
{
    <div class="successMessage">
        @ViewBag.SuccessMessage
    </div>
    

}
