@model ExpressNews.Models.Database.SubscriptionType

@{
    ViewData["Title"] = "EditSubscriptionType";
}

<h1>EditSubscriptionType</h1>

<h4>SubscriptionType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubscriptionType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>


            <script src="
                https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label mb-2 fw-bold fst-italic"></label>
                <textarea asp-for="Description" id="editor" class="form-control" rows="10" placeholder="Enter full content"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}