@model ExpressNews.Models.ViewModel.SubscriptionTypeVM
@{
    ViewData["Title"] = "Subscrition";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  text-center" style="background-color:black">
           
            <h1 style="color:white">Upgrade your subscription and get access to the entire<br />Express News</h1>
            <p style="color:white">You get access to all articles, all live sports, advantageous offers and much more. With the Super package you get access to even more news and services.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="fw-bolder col-md-12 text-center">
            <h3>Already a Plus customer?</h3> <br />
            <a class="fw-bolder; button-log" role="button" asp-area="Identity" asp-page="/Account/Login">Log in here</a><br />
        </div>
    </div>
    <br />
    <div class="row text-center" >
        <div class="col-md-6" id="idbasic">
            @* <pre>
            @foreach(var row in Model.SubTypeList)
            {
                @if(row.Id == 1)
                    @Html.DisplayFor(item => row.Description)

            }
           </pre> *@


           
               
            @* <div class="card h-100">
                <div class="card-header fw-bolder h2">
                    BASIC
                </div>
                <div class="card-body ">
                    <h5 class="card-title">All content on Express News</h5>
                    <ul class="text-left">
                       
                        <li><i class="fa fa-solid fa-check"></i> New in-depth articles every day in eg news, sports, health and tests</li>
                        <li><i class="fa fa-solid fa-check"></i> Audiobook of the month</li>
                        <li><i class="fa fa-solid fa-check"></i> Live sports & podcasts</li>
                    </ul>
                    <div >
                        


                        <button type="button" class="fw-bolder btn btn-warning btn-sm">2 Month - 150 kr</button><br /><br />

                        <button type="button" class="fw-bolder btn btn-warning btn-sm">1 Year - 1000 kr</button>
                    </div>
                </div>
            </div>
            <div> <i> Renewed afterwards for SEK 139/month, terminated when you want. </i></div> *@
        </div>
        <div class="col-md-6" id="idPrim">
            @* @foreach (var row in Model.SubTypeList)
            {
                @if (row.Id != 1)
                    @Html.DisplayFor(item => row.Description)

            } *@
            @* <div class="card h-100">
                <div class="card-header fw-bolder h2">
                    Premium
                </div>
                <div class="card-body ">
                    <h5 class="card-text">News and podcasts at a super price!</h5>
                    <ul class="text-left">
                        <li><i class="fa fa-solid fa-check"></i> Express News Plus</li>
                        <li><i class="fa fa-solid fa-check"></i> SvD & SvD Business</li>
                        <li><i class="fa fa-solid fa-check"></i> Omni More & Economy</li>
                        <li><i class="fa fa-solid fa-check"></i> Premium podcasts from Podme</li>
                        <li><i class="fa fa-solid fa-check"></i> Share with a friend</li>
                    </ul>
                    <div style="margin-bottom: 5px">
                        <button type="button" class="fw-bolder btn btn-warning btn-sm">1 Year - 1800 kr</button>
                        <p><i>Read more about everything that is included</i></p>
                    </div>
                   
                </div>
            </div>
            <div> <i> Renewed thereafter with SEK 299/month. Save 58% - value SEK 715. </i></div> *@
        </div>
    </div>
</div>
@{
    string htmlText = Model.SubTypeList.FirstOrDefault(row => row.Id == 1)?.Description ?? "";
    string htmlText2 = Model.SubTypeList.FirstOrDefault(row => row.Id != 1)?.Description ?? "";
}

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var htmlText = `@Html.Raw(htmlText)`;
        var element2 = document.getElementById("idbasic");
        if (element2) {
            element2.innerHTML = htmlText;
        }

        var htmlText2 = `@Html.Raw(htmlText2)`;
        var element = document.getElementById("idPrim");
        if (element) {
            element.innerHTML = htmlText2;
        }
    });
</script>



<style>
    body {
        background-color:lightgrey;
    }
    .card {
        margin-bottom: 20px;
    }

    .card-header {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

        ul li {
            padding-bottom: 5px;
        }
</style>
