@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}




<div class="row">
    <div class="d-block d-sm-none col-md-8 col-md-offset-2">

    </div>

    <div class="col-md-4 bg-warning">
        <h2 class="p-2 g-2 ">@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 p-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="text-center p-2 g-2">
                <button type="submit" class="w-50 btn btn-lg btn-primary">Reset Password</button>
            </div>
           
        </form>
    </div>

    <div class="d-none d-sm-block col-md-8 col-md-offset-2">
     
            <img src="~/image/en news.png" width="100%" />
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
