@using SQLitePCL
@model IEnumerable<ExpressNews.Models.Database.Article>

<div>
    
    <div class="round3 bg-white border radius:25px p-2 ">

        <h3 class="m-3 text-danger fw-bolder">Latest News</h3>
     
        @foreach (var article in Model)
        {

            <ul >
                <li >
                    @* <img src="@article.ImageLink" alt="" width="40%" height="40%" /><br /> *@
                    <span style="color:darkviolet; text-decoration:none; font-size:11px; float:left; ">@article.Category1 </span><br />
                    <a class="text-black text-break fw-bolder" asp-action="SingleArticle" asp-controller="Article" asp-route-id="@article.Id">@article.LinkText</a>
                    
                </li>

            </ul>
            
        }
    </div>
   

</div>