@model ExpressNews.Models.Database.Article

@{
    ViewData["Title"] = "ArticleEdit";
}

<h1>ArticleEdit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ArticleEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @* <div class="form-group">
                <label asp-for="DateStamp" class="control-label"></label>
                <input asp-for="DateStamp" class="form-control" />
                <span asp-validation-for="DateStamp" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="LinkText" class="control-label"></label>
                <input asp-for="LinkText" class="form-control" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadLine" class="control-label"></label>
                <input asp-for="HeadLine" class="form-control" />
                <span asp-validation-for="HeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label>
                <input asp-for="ContentSummary" class="form-control" />
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisLikes" class="control-label"></label>
                <input asp-for="DisLikes" class="form-control" />
                <span asp-validation-for="DisLikes" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Category1" class="control-label"></label>
                <input asp-for="Category1" class="form-control" />
                <span asp-validation-for="Category1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category2" class="control-label"></label>
                <input asp-for="Category2" class="form-control" />
                <span asp-validation-for="Category2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category3" class="control-label"></label>
                <input asp-for="Category3" class="form-control" />
                <span asp-validation-for="Category3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Image File:</label>
                <input asp-for="FormImages" class="form-control" type="file" multiple />
                <span asp-validation-for="FormImages" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBreaking" /> @Html.DisplayNameFor(model => model.IsBreaking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSubsription" /> @Html.DisplayNameFor(model => model.IsSubsription)
                </label>
            </div>
           @*  <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

