@model ExpressNews.Models.ViewModel.ArticleVM;
@{
    ViewData["Title"] = "Index";
}

<div clalss="Container ">
    <div class=" row">
        <div class="col-md-9">
            @* <partial name="_ArticlePartial" /> *@
            @Html.Partial("_ArticlePartial", Model.ArticleObj)
        </div>
        <div class="col-md-3">
            <div class="row">
            </div><br />
            <div class="row">
             
                <div  >
                    <vc:latest-article count="5"></vc:latest-article>
                </div>

            </div><br />
            <div class="row">
                @*  <div>
                <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                </div> *@

                <div id="oanda_ecc">
                    <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                    <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                    <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                </div>

            </div><br />
           
        </div>
    </div>
</div>
