<div clalss="Container ">
    <div class=" row">
        <div class="col-md-9">
            @if (1 == 1)
            {
                <partial name="_BreakingNewsPartial" />
            }

            <div class="w-100 p-3 border bg-white">
                <a href="#">
                    <h1 id="#" style="color:black">
                        Putin to meet Xi in China as Russia advances in Ukraine
                    </h1>
                </a>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/01-gettyimages-1730512638.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="Chinese leader Xi Jinping and Russian President Vladimir Putin attend the opening ceremony of the Belt and Road Forum at the Great Hall of the People in Beijing last October.
                    Pedro Pardo/AFP/Getty Images" width="70%" height="70%" /><br />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus sit amet ipsum eleifend consectetur. Nullam suscipit eget lectus non varius. Donec interdum vestibulum turpis, eu sagittis lorem consequat non. .</p>
                <button style="color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;">
                    <i class="fa-solid fa-plus"></i> Read More
                </button>
            </div>

            @for (int i = 0; i < 2; i++)
            {
                <partial name="_FrontPageArticlePartial" />
                <br />
            }

            <div class="w-100 p-3 border bg-white">
                <a href="#">
                    <h1 id="#" style="color:black">
                        Putin to meet Xi in China as Russia advances in Ukraine
                    </h1>
                </a>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/01-gettyimages-1730512638.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="Chinese leader Xi Jinping and Russian President Vladimir Putin attend the opening ceremony of the Belt and Road Forum at the Great Hall of the People in Beijing last October.
                    Pedro Pardo/AFP/Getty Images" width="70%" height="70%" /><br />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus sit amet ipsum eleifend consectetur. Nullam suscipit eget lectus non varius. Donec interdum vestibulum turpis, eu sagittis lorem consequat non. .</p>
                <button style="color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;">
                    <i class="fa-solid fa-plus"></i> Read More
                </button>
            </div>

            <div class="w-100 p-3 border bg-white">
                <a href="#">
                    <h1 id="#" style="color:black">
                        Putin to meet Xi in China as Russia advances in Ukraine
                    </h1>
                </a>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/01-gettyimages-1730512638.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="Chinese leader Xi Jinping and Russian President Vladimir Putin attend the opening ceremony of the Belt and Road Forum at the Great Hall of the People in Beijing last October.
                    Pedro Pardo/AFP/Getty Images" width="70%" height="70%" /><br />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus sit amet ipsum eleifend consectetur. Nullam suscipit eget lectus non varius. Donec interdum vestibulum turpis, eu sagittis lorem consequat non. .</p>
                <button style="color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;">
                    <i class="fa-solid fa-plus"></i> Read More
                </button>
            </div>
            @for (int i = 0; i < 2; i++)
            {
                <partial name="_FrontPageArticlePartial" />
                <br />
            }
        </div>
        <div class="col-md-3">
            <div class="row">
                @*  <div>
                <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                </div> *@

                <div id="oanda_ecc">
                    <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                    <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                    <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                </div>

            </div><br />
            <div class="row">
                @*  <div>
                <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                </div> *@

                <div id="oanda_ecc">
                    <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                    <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                    <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                </div>

            </div><br />
            <div class="row">
                @*  <div>
                <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                </div> *@

                <div id="oanda_ecc">
                    <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                    <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                    <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                </div>

            </div><br />
            <div class="row">
                @*  <div>
                <iframe src="https://free.timeanddate.com/clock/i9dhl929/n1377/tlse/fn6/ftb/pd3/tt0/tw1/tm1/th1/ts1/tb4" frameborder="0" width="125" height="36"></iframe>

                </div> *@

                <div id="oanda_ecc">
                    <!-- Note: If you alter or remove the following code, the embedded currency widget will not work-->
                    <span style="color:#000; text-decoration:none; font-size:9px; float:left;">Currency Converter <a id="oanda_cc_link" style="color:#000; font-size:9px;" href="https://www.oanda.com/currency/converter/">by OANDA</a></span>
                    <script src="https://www.oanda.com/embedded/converter/get/b2FuZGFlY2N1c2VyLy9kZWZhdWx0/?lang=en"></script>
                </div>

            </div>
        </div>
    </div>
</div>
