<div class="w-100 p-3 border bg-white">
    <a href="#">
        <h1 id="#" style="color:black">
            Putin to meet Xi in China as Russia advances in Ukraine
        </h1>
    </a>
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/01-gettyimages-1730512638.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="Chinese leader Xi Jinping and Russian President Vladimir Putin attend the opening ceremony of the Belt and Road Forum at the Great Hall of the People in Beijing last October.
                    Pedro Pardo/AFP/Getty Images" width="70%" height="70%" /><br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus sit amet ipsum eleifend consectetur. Nullam suscipit eget lectus non varius. Donec interdum vestibulum turpis, eu sagittis lorem consequat non. .</p>
    @if (1==2)
    {
        <button style="color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;">
            <i class="fa-solid fa-plus"></i> Read More
        </button>

    }else
    {
        <button style="color: black; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;">
             Read More
        </button>
    }
    
</div>
