@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light" style="font-size:smaller" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello! @User.Identity?.Name!</a>
    </li>
     <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" style="padding:4px; background-color:red">
                    <i class="fa fa-sign-out"></i> 
                </button>
        </form>
    </li> 

 }
else
{
    <li class="nav-item" >
            <a class="button-sub fw-bolder" role="button" asp-controller="Subscription" asp-action="Index">Subscription</a>
    </li>
        <li class="nav-item">
            <a class="button-log" role="button" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user"></i>
            </a>
        </li>
}
</ul>

<style>
    /* Custom button styles */
    .button-sub {
        background-color:yellow;
        color: black;
        border: none;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 0.2rem;
        border-radius: 0.25rem;
    }

        .button-sub:hover {
            background-color:white;
        }

    .button-log {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 0.2rem;
        border-radius: 0.25rem;
    }

        .button-log:hover {
            background-color: #0069d9;
        }
</style>
